:root {
    --fonte-padrao: 'Outfit', sans-serif;
    // --fonte-secundaria: serif;
    --cor-fonte: #4a4a4a;
    --cor-site: #000; //cor predominante no site
    --cor-secundaria: #888; //cor usada no site em pontos aleatórios
    --cor-destaque: #31ff00; //cor frequentemente usada para destacar conteudo
    --cor-auxiliar: #f1f1f1; //cor neutra (geralmente um cinza claro ou uma variação mais clara da cor predominante do site)
    --cor-whatsapp: #25d366;
    --cor-facebook: #1877f2;
    --cor-instagram: #e4405f;
    --cor-twitter: #1da1f2;
    --cor-linkedin: #0a66c2;
    --cor-youtube: #cd201f;
    --cor-vimeo: #1ab7ea;
    --cor-pinterest: #bd081c;
    --cor-behance: #0067ff;

    --fonte-10px: 0.625rem;
    --fonte-11px: 0.6875rem;
    --fonte-12px: 0.75rem;
    --fonte-13px: 0.8125rem;
    --fonte-14px: 0.875rem;
    --fonte-15px: 0.9375rem;
    --fonte-16px: 1rem;
    --fonte-17px: 1.0625rem;
    --fonte-18px: 1.125rem;
    --fonte-20px: 1.25rem;
    --fonte-22px: 1.375rem;
    --fonte-24px: 1.5rem;
    --fonte-26px: 1.625rem;
    --fonte-28px: 1.75rem;
    --fonte-30px: 1.875rem;
    --fonte-32px: 2rem;
    --fonte-34px: 2.125rem;
    --fonte-36px: 2.25rem;
    --fonte-38px: 2.375rem;
    --fonte-40px: 2.5rem;
    --fonte-42px: 2.625rem;
    --fonte-44px: 2.75rem;
    --fonte-46px: 2.875rem;
    --fonte-48px: 3rem;
    --fonte-50px: 3.125rem;

    --fonte-extra-pequena: 0.75rem; // 12px
    --fonte-pequena: 0.875rem; // 14px
    --fonte-tamanho-padrao: 1rem; // 16px
    --fonte-media: 1.125rem; // 18px
    --fonte-media-grande: 1.375rem; // 22px
    --fonte-grande: 2rem; // 32px
    --fonte-extra-grande: 2.75rem; // 44px

    --espacamento-maior: 100px;
    --espacamento-media: 80px;
    --espacamento-normal: 50px;
}

.padrao-titulo {
}

.padrao-subtitulo {
}

.padrao-botao {
}

.padrao-bloco {
}
